/* styles.css */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css);

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F0F0EA;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set minimum height to fill the viewport */
}

header {
    background-color: #333;
    color: #fff;
}

nav {
    margin: 0 auto;
    max-width: 1200px;
    padding: 10px 20px;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.navbar-nav .nav-item .nav-link {
    font-size: 16px;
    color: #fff;
}

.navbar-nav .nav-item .nav-link.active {
    font-weight: bold;
    color: #3EA881
}

.logo {
    max-height: 40px; 
    height: auto;
    width: auto;
    display: inline-block;
    vertical-align: middle;
}

main {
    flex-grow: 1;
    padding: 10px 0px 20px 0px;
    margin: 0;
    background-color: #F0F0EA;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    flex: 1 1 100%;
    margin-bottom: 20px;
    padding: 0 20px;
}

/* Footer Column 1 */
.site-logo img {
    max-width: 250px;
}

.site-description {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.social-links {
    margin-top: 10px;
}

.social-link {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.social-link:hover {
    color: #3EA881;
}

/* Footer Column 2 */
.page-links {
    list-style-type: none;
    padding: 0;
}

.page-links li {
    margin-bottom: 5px;
}

.page-links a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.page-links a:hover {
    color: #3EA881;
}

/* Footer Column 3 */
.contact-details {
    list-style-type: none;
    padding: 0;
    font-size: 14px;
}

.page-links li {
    margin-bottom: 5px;
}

.footer-column h3{
    font-size: 24px;
    border-bottom: 1.5px solid;
    padding-bottom: 10px;
}

/* Footer Copyright Row */
.copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 14px;
}

/* Homepage Styles */
/* Title banner styles*/
.title-banner {
    max-width: 1200px;
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.banner-image {
    width: 100%;
    align-self: center;
    height: auto;
    max-height: 600px;
}

.banner-text-box {
    position: static;
    display:grid;
    justify-content: space-around;
    justify-items: center;
    transform: none;
    background-color: #fff;
    width: 100%;
    max-width: none;
    margin-top: 10px;
    padding: 20px;
    text-align: center;
}

.banner-text-box .btn {
    margin-bottom: 10px;
}

.remove-gutters{
    --bs-gutter-x: 0rem;
}

/* book_list template */
/* list of displayed books section */
.display-books {
    max-width: 1200px;
}

.no-underline {
    text-decoration: none;
}

.no-underline:hover {
    text-decoration: none;
}

.form-container {
    background-color: #f5f5e0; 
    border: 2px solid #161616; 
}

.card {
    border: 2px solid #3EA881;
    background-color: #f4f2f3;
    min-height: 190px;
    position: relative;
}

.card-body { 
    overflow: auto;
}

.image-container img {
    max-width: 100%; 
    height: auto; 
    max-height: 160px; 
    overflow: hidden; 
}

.title, .author{
    color: #333;
}

/* book_details template */
/* return to previous page button styles */
.return-button {
    position: relative;
    margin-bottom: 10px;
}

.back-button {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Make it round */
    background-color: rgba(255, 255, 255, 0.70); /* Faded white background */
    border: none;
    color: #333; /* Text color */
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #B58FFF; /* Lighter background on hover */
}

/* Optional: Center the arrow horizontally and vertically */
.back-button i {
    position: relative;
}

/* Styles for star icons display */
.title {
    margin-top: 15px;
}

.book-star-ratings {
    display: inline-block;
    position: relative;
    font-size: 24px;
    color: #777777;
}

.star-ratings-background{
    position: absolute;
    top: 0;
    left: 0;
}

.star-ratings-foreground {
    position: relative;
    top: 0;
    left: 0;
}

.star-ratings-background .book-stars,
.star-ratings-foreground .book-stars {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.book-stars li {
    display: inline-block;
    text-align: center;
}

.book-rating-star {
    color: #777777; /* Empty star colour */
}

.book-rating-star.fas {
    color: #f5c518; /* Filled star colour */
}

.book-rating-star.half-filled::before {
    content: '\f089'; /* Half-filled star icon from fontAwesome */
    display: inline-flex;
    overflow: hidden;
}

/* User Interactions Section */
.user-interactions-container {
    align-content: center;
}

/* Comment display Section */
.comment-container {
    border: 2px solid #3EA881;
    background-color: #f0efe2;
    padding: 15px;
    max-height: 600px;
    overflow-y: scroll;
}

.gutters {
    --bs-gutter-x: 0rem;
}

.comment-card{
    border: 2px solid #3EA881;
    background-color: #fff;
}

.add-comment-card{
    border: 2px solid #3EA881;
    background-color: #f0efe2;
    max-height: 600px;
}

/* Leave a comment section */
#id_body{
    height:150px;
}

.form-label{
    content-visibility: hidden;
}

/* User Rating Star Icons, book_details template */
.rating-stars .star-form {
    display: inline;
    padding: 1px;
}

.rating-stars .star-icon {
    font-size: 1.25rem;
    margin-right: 0.1rem;
    padding: 1px;
    color: #747474;
    border: none;
    background: none;
    cursor: pointer;
}

.star-icon {
    font-size: 24px; /* Adjust the size as needed */
    color: #ccc; /* Default star colour */
    cursor: pointer;
    position: relative;
}

.star-icon.filled {
    color: #f5c518; /* Highlight colour for filled stars */
}

/* About us html styles */
.about-container {
    max-width: 1000px;
}

.about-title { 
    margin-bottom: 20px;
}

.rounded-image {
    border-radius: 15px;
    display: block;
    margin: 15px auto; /* Center the image */
    width: 100%;
    margin-bottom: 20px;
}

/* Book Request html styles */
.form-label {
    color: #333;
    content-visibility: visible;
}


/* General Buttons */
.btn-primary {
    background-color: #A83E3E;
    border-color: #A83E3E;
}

.btn-primary:hover {
    background-color: #853434;
    border-color: #853434;
}

.btn-secondary {
    background-color: #B58FFF;
    border-color: #B58FFF;
}

.details {
    position: relative;
}


#bookshelf-buttons {
    position: static;
    margin-top: 10px;
}


/* Profile page styles */
.users-bookshelf {
    max-width: 600px;
}

.profile-settings {
    min-width: 230px;
}

.profile-books{
    display: block;
}

.bookshelf-interactions {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: flex-start; /* Align items to the start on smaller screens */
    margin-top: 10px;
}

.bookshelf-form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Align items with space between */
    align-items: flex-start; /* Align items to the top */
    position: relative; /* Positioning context for absolute positioning */
}

.status-form {
    display: inline-block; /* Ensure the form behaves as an inline block */
}

.status-select {
    width: 130px;
}

/* Media query for larger screens */
@media (min-width: 768px) {
    main {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .profile-icon {
        margin-left: 20px;
    }

    .status-form-left {
        order: 1; /* Ensure left form appears first */
        text-align: left;
    }
    
    .status-form-right {
        order: 2; /* Ensure right form appears second */
    }

    /* Homepage title Banner */
    .banner-text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.85); /* Semi-transparent background */
        width: 60%; 
        max-width: 600px; 
    }

    /* Book details page styles */
    /* User Interactions section on book_details */
    .gutters {
        --bs-gutter-x: 1.5rem;
    }    

    #bookshelf-buttons {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    /* About us html section */
    .rounded-image {
        float: right;
        margin: 15px;
        width: 30%;
    }

    /* Profile page styles */
    .profile-container {
        display: flex;
    }

    .profile-settings {
        margin-right: 5%;
    }

    .profile-books{
        display: flex;
        justify-content: space-between; /* Aligns items with space between on large screens */
        align-items: flex-start; /* Align items to the top */
    }

    .bookshelf-form-container {
        display: flex;
        flex-direction: column; /* Stack forms vertically */
    }

    .bookshelf-interactions {
        display: inline-block;
        margin-top: 20px;
        margin-left: auto;
        text-align: right;
    }

    /* Footer set 3 columns on large screens */ 
    .footer-column {
        flex-basis: calc(33.33% - 20px);
    }
}

/* Medium screens up to 1200px */
@media (min-width: 768px) and (max-width: 1300px) {
    /* Book_list ensure two books per row */
    .col-md-6 {
        flex: 0 0 50%; 
        max-width: 50%; 
    }
}
