{% extends "base.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <img src="{{ book.cover_image.url }}" class="img-fluid mb-3" alt="{{ book.title }} cover image">
        </div>
        <div class="col-md-8">
            <h1>{{ book.title }}</h1>
            <p><strong>Author:</strong> {{ book.author }}</p>
            <p><strong>Published Year:</strong> {{ book.published_year }}</p>
            <hr>
            <h3>Description</h3>
            <p>{{ book.description|safe }}</p>
        </div>
    </div>

    <!-- Rating Section -->
    <div class="row mt-4">
        <div class="col-12">
            <hr>
            {% if user.is_authenticated %}
            <p>Please rate this book:</p>
            <div class="rating-stars">
                <form id="ratingForm1" class="star-form" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="rating" value="1">
                    <button type="submit" class="far fa-star star-icon" data-value="1"></button>
                </form>
                <form id="ratingForm2" class="star-form" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="rating" value="2">
                    <button type="submit" class="far fa-star star-icon" data-value="2"></button>
                </form>
                <form id="ratingForm3" class="star-form" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="rating" value="3">
                    <button type="submit" class="far fa-star star-icon" data-value="3"></button>
                </form>
                <form id="ratingForm4" class="star-form" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="rating" value="4">
                    <button type="submit" class="far fa-star star-icon" data-value="4"></button>
                </form>
                <form id="ratingForm5" class="star-form" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="rating" value="5">
                    <button type="submit" class="far fa-star star-icon" data-value="5"></button>
                </form>
            </div>
            

            <div class="mt-2">
                <p>Your rating: <span id="user-rating">{{ user_rating }}</span></p>
            </div>
            {% else %}
            <p>Log in to rate this book</p>
            {% endif %}
        </div>
    </div>

    <!-- Comments Section -->
    <div class="row mt-4">
        <div class="col-12">
            <hr>
            <strong class="text-secondary">
                <i class="far fa-comments"></i> {{ comment_count }} Comments
            </strong>
        </div>
    </div>
    <div class="row mt-3 d-flex align-items-stretch">
        <div class="col-md-8 mb-3 comment-container">
            <h3>Comments:</h3>
            {% if comment_count == 0 %}
                <p>Be the first to leave a comment</p>
            {% endif %}
            {% for comment in comments %}
                <div class="comment-card mb-3 {% if not comment.approved and comment.user == user %} faded {% elif not comment.approved %} d-none {% endif %}">
                    <div class="card-body">
                        <p class="font-weight-bold">
                            Author: {{ comment.user }}
                        </p>
                        <div id="comment{{ comment.id }}">
                            {{ comment.body | linebreaks }}
                        </div>
                        <span class="font-weight-normal">Posted on {{ comment.created_on }}</span>
                        {% if not comment.approved and comment.user == user %}
                            <p class="text-warning">This comment is awaiting approval</p>
                        {% endif %}
                        {% if user.is_authenticated and comment.user == user %}
                            <button class="btn btn-danger btn-delete" data-comment_id="{{ comment.id }}">Delete</button>
                            <button class="btn btn-secondary btn-edit" data-comment_id="{{ comment.id }}">Edit</button>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- New Comment Form -->
        <div class="col-md-4 d-flex flex-column">
            <div class="add-comment-card flex-grow-1">
                <div class="card-body">
                    {% if user.is_authenticated %}
                        <h3>Leave a comment:</h3>
                        <p>Posting as: {{ user.username }}</p>
                        <form id="commentForm" method="post">
                            {{ comment_form | crispy }}
                            {% csrf_token %}
                            <button id="submitButton" type="submit" class="btn btn-primary btn-lg mt-2">Submit</button>
                        </form>
                    {% else %}
                        <p>Log in to leave a comment</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" 
    aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" 
                  id="deleteModalLabel">Delete comment?</h5>
                <button type="button" class="btn-close" 
                  data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your comment? 
                This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" 
                  data-bs-dismiss="modal">Close</button>
                <a id="deleteConfirm" href="#" class="btn 
                  btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
<script src="{% static 'js/ratings.js' %}"></script>
{% endblock %}